<div class="principal">

  <!--*****************************
       PROPIEDADES DEL CONTENEDOR
      ***************************** -->

    <h2>Properties for the flex container</h2>
    <!-- FLEX-DIRECTION -->
    <div class="control">
      <h4><a target="_blank" href="http://w3.unpocodetodo.info/css3/flex-direction.php">flex-direction: (default "row")</a></h4>
      <p class="description">Establece el eje principal del contenedor y su sentido</p>
      <div class="radio">
        <input name="flex-direction" (change)="changeFlex($event.target, 'flex-container', 'direction')" type="radio" class="flex-direction" id="R11" value="row" checked><label for="R11">row:</label>
        <input name="flex-direction" (change)="changeFlex($event.target, 'flex-container', 'direction')" type="radio" class="flex-direction" id="R12" value="row-reverse"><label for="R12">row-reverse:</label>
        <input name="flex-direction" (change)="changeFlex($event.target, 'flex-container', 'direction')" type="radio" class="flex-direction" id="R13" value="column"><label for="R13">column:</label>
        <input name="flex-direction" (change)="changeFlex($event.target, 'flex-container', 'direction')" type="radio" class="flex-direction" id="R14" value="column-reverse"><label for="R14">column-reverse:</label>
      </div>
    </div>
    <div class="flex-container" id="direction">
      <div class="item" style="background-color: #2a80b9;">
        <p>1</p>
      </div>
      <div class="item" style="background-color: #8f44ad;">
        <p>2</p>
      </div>
      <div class="item" style="background-color: #16a086;">
        <p>3</p>
      </div>
      <div class="item" style="background-color: #f1c40f;">
        <p>4</p>
      </div>
      <div class="item" style="background-color: #e77e23;">
        <p>5</p>
      </div>
    </div>


    <!--FLEX-WRAP-->
    <div class="control">
      <h4><a target="_blank" href="http://w3.unpocodetodo.info/css3/flex-wrap.php">flex-wrap: (default "nowrap")</a></h4>
      <p class="description">Determina la existencia o no de saltos de línea y su sentido </p>
      <div class="radio">
        <input name="flex-wrap" (change)="changeFlex($event.target, 'flex-container', 'wrap')" type="radio" class="flex-wrap" id="R21" value="nowrap" checked><label for="R21">nowrap:</label>
        <input name="flex-wrap" (change)="changeFlex($event.target, 'flex-container', 'wrap')" type="radio" class="flex-wrap" id="R22" value="wrap"><label for="R22">wrap:</label>
        <input name="flex-wrap" (change)="changeFlex($event.target, 'flex-container', 'wrap')" type="radio" class="flex-wrap" id="R23" value="wrap-reverse"><label for="R23">wrap-reverse:</label>
      </div>
    </div>
    <div class="flex-container" id="wrap">
      <div class="item" style="background-color: #2a80b9;">
        <p>1</p>
      </div>
      <div class="item" style="background-color: #8f44ad;">
        <p>2</p>
      </div>
      <div class="item" style="background-color: #16a086;">
        <p>3</p>
      </div>
      <div class="item" style="background-color: #f1c40f;">
        <p>4</p>
      </div>
      <div class="item" style="background-color: #e77e23;">
        <p>5</p>
      </div>
    </div>


    <!--JUSTIFY-CONTENT -->
    <div class="control">
      <h4><a target="_blank" href="http://w3.unpocodetodo.info/css3/flex-justify-content.php">justify-content: (default "flex-start")</a></h4>
      <p class="description">Establece la alineación de los items en el eje principal (reparto del espacio)</p>
      <div class="radio">
        <input name="justify-content" (change)="changeFlex($event.target, 'flex-container', 'justify')" type="radio" class="justify-content" id="R41" value="justify-start" checked><label for="R41">flex-start:</label>
        <input name="justify-content" (change)="changeFlex($event.target, 'flex-container', 'justify')" type="radio" class="justify-content" id="R42" value="justify-end"><label for="R42">flex-end:</label>
        <input name="justify-content" (change)="changeFlex($event.target, 'flex-container', 'justify')" type="radio" class="justify-content" id="R43" value="justify-space-between"><label for="R43">space-between:</label>
        <input name="justify-content" (change)="changeFlex($event.target, 'flex-container', 'justify')" type="radio" class="justify-content" id="R44" value="justify-center"><label for="R44">center:</label>
        <input name="justify-content" (change)="changeFlex($event.target, 'flex-container', 'justify')" type="radio" class="justify-content" id="R45" value="justify-space-around"><label for="R45">space-around:</label>
      </div>
    </div>
    <div class="flex-container" id="justify">
      <div class="item" style="background-color: #2a80b9;">
        <p>1</p>
      </div>
      <div class="item" style="background-color: #8f44ad;">
        <p>2</p>
      </div>
      <div class="item" style="background-color: #16a086;">
        <p>3</p>
      </div>
      <div class="item" style="background-color: #f1c40f;">
        <p>4</p>
      </div>
      <div class="item" style="background-color: #e77e23;">
        <p>5</p>
      </div>
    </div>

    <!-- ALIGN-ITEMS -->
    <div class="control">
      <h4><a target="_blank" href="http://w3.unpocodetodo.info/css3/flex-align-items.php">align-items: (default "stretch")</a></h4>
      <p class="description">Establece la alineación de los items en el eje transversal (reparto del espacio)</p>
      <div class="radio">
        <input name="flex-align-items" (change)="changeFlex($event.target, 'flex-container', 'align')" type="radio" class="flex-align-items" id="R31" value="align-items-start"><label for="R31">flex-start:</label>
        <input name="flex-align-items" (change)="changeFlex($event.target, 'flex-container', 'align')" type="radio" class="flex-align-items" id="R32" value="align-items-end"><label for="R32">flex-end:</label>
        <input name="flex-align-items" (change)="changeFlex($event.target, 'flex-container', 'align')" type="radio" class="flex-align-items" id="R33" value="align-items-center"><label for="R33">center:</label>
        <input name="flex-align-items" (change)="changeFlex($event.target, 'flex-container', 'align')" type="radio" class="flex-align-items" id="R34" value="align-items-baseline"><label for="R34">baseline:</label>
        <input name="flex-align-items" (change)="changeFlex($event.target, 'flex-container', 'align')" type="radio" class="flex-align-items" id="R35" value="align-items-stretch" checked><label for="R35">stretch:</label>
      </div>
    </div>
    <div class="flex-container" id="align">
      <div class="item" style="background-color: #2a80b9;">
        <p>1</p>
      </div>
      <div class="item" style="background-color: #8f44ad;">
        <p>2</p>
      </div>
      <div class="item" style="background-color: #16a086;">
        <p style="font-size:50px;">3</p>
      </div>
      <div class="item" style="background-color: #f1c40f;">
        <p>4</p>
      </div>
      <div class="item" style="background-color: #e77e23;">
        <p>5</p>
      </div>
    </div>

    <!--ALIGN-CONTENT -->
    <div class="control">
      <h4><a target="_blank" href="http://w3.unpocodetodo.info/css3/flex-align-content.php">align-content: (default "stretch")</a></h4>
      <p class="description">(IMPORTANTE!!! SOLO CON MÁS DE UNA LÍNEA) Alineación de FILAS respecto del eje transversal</p>
      <div class="radio">
        <input name="align-content" (change)="changeFlex($event.target, 'flex-container', 'alignContent')" type="radio" class="align-content" id="R51" value="align-content-start"><label for="R51">flex-start:</label>
        <input name="align-content" (change)="changeFlex($event.target, 'flex-container', 'alignContent')" type="radio" class="align-content" id="R52" value="align-content-end"><label for="R52">flex-end:</label>
        <input name="align-content" (change)="changeFlex($event.target, 'flex-container', 'alignContent')" type="radio" class="align-content" id="R53" value="align-content-center"><label for="R53">center:</label>
        <input name="align-content" (change)="changeFlex($event.target, 'flex-container', 'alignContent')" type="radio" class="align-content" id="R54" value="align-content-space-between"><label for="R54">space-between:</label>
        <input name="align-content" (change)="changeFlex($event.target, 'flex-container', 'alignContent')" type="radio" class="align-content" id="R55" value="align-content-space-around"><label for="R55">space-around:</label>
        <input name="align-content" (change)="changeFlex($event.target, 'flex-container', 'alignContent')" type="radio" class="align-content" id="R56" value="align-content-stretch" checked><label for="R56">stretch:</label>
      </div>
    </div>
    <div class="flex-container" id="alignContent">
      <div class="item" style="background-color: #1bbc9d;">
        <p>1</p>
      </div>
      <div class="item" style="background-color: #2fcc71;">
        <p>2</p>
      </div>
      <div class="item" style="background-color: #3598dc;">
        <p>3</p>
      </div>
      <div class="item" style="background-color: #9c59b8;">
        <p>4</p>
      </div>
      <div class="item" style="background-color: #34495e;">
        <p>5</p>
      </div>
      <div class="item" style="background-color: #16a086;">
        <p>6</p>
      </div>
      <div class="item" style="background-color: #27ae61;">
        <p>7</p>
      </div>
      <div class="item" style="background-color: #2a80b9;">
        <p>8</p>
      </div>
      <div class="item" style="background-color: #8f44ad;">
        <p>9</p>
      </div>
      <div class="item" style="background-color: #2d3e50;">
        <p>10</p>
      </div>
      <div class="item" style="background-color: #f1c40f;">
        <p>11</p>
      </div>
      <div class="item" style="background-color: #e77e23;">
        <p>12</p>
      </div>
      <div class="item" style="background-color: #e84c3d;">
        <p>13</p>
      </div>
      <div class="item" style="background-color: #ecf0f1;">
        <p>14</p>
      </div>
      <div class="item" style="background-color: #96a6a6;">
        <p>15</p>
      </div>
      <div class="item" style="background-color: #f49c14;">
        <p>16</p>
      </div>
      <div class="item" style="background-color: #d55401;">
        <p>17</p>
      </div>
      <div class="item" style="background-color: #c1392b;">
        <p>18</p>
      </div>
      <div class="item" style="background-color: #bec3c7;">
        <p>19</p>
      </div>
      <div class="item" style="background-color: #808b8d;">
        <p>20</p>
      </div>
    </div>

  </div>

  <!--*****************************
       PROPIEDADES DE LOS ITEMS
      ***************************** -->

  <div class="principal">
    <h2>Properties for the flex items </h2>

    <!-- ALIGN-SELF -->
    <div class="control">
      <h4><a target="_blank" href="http://w3.unpocodetodo.info/css3/flex-align-self.php">align-self: (default "auto")</a></h4>
      <p class="description">"Sobreescribe" la propiedad ALIGN-ITEMS para el elemento</p>
      <div class="radio">
        <input name="align-self" (change)="changeItemFlex($event.target, 'item', 'alignSelf')" type="radio" class="align-self" id="R61" value="align-self-auto" checked><label for="R61">auto:</label>
        <input name="align-self" (change)="changeItemFlex($event.target, 'item', 'alignSelf')" type="radio" class="align-self" id="R62" value="align-self-start"><label for="R62">flex-start:</label>
        <input name="align-self" (change)="changeItemFlex($event.target, 'item', 'alignSelf')" type="radio" class="align-self" id="R63" value="align-self-end"><label for="R63">flex-end:</label>
        <input name="align-self" (change)="changeItemFlex($event.target, 'item', 'alignSelf')" type="radio" class="align-self" id="R64" value="align-self-center"><label for="R64">center:</label>
        <input name="align-self" (change)="changeItemFlex($event.target, 'item', 'alignSelf')" type="radio" class="align-self" id="R65" value="align-self-baseline"><label for="R65">baseline:</label>
        <input name="align-self" (change)="changeItemFlex($event.target, 'item', 'alignSelf')" type="radio" class="align-self" id="R66" value="align-self-stretch"><label for="R66">stretch:</label>
      </div>
    </div>
    <div class="flex-container align-items-center" id="FCI1">
      <div class="item" style="background-color: #f49c14;">
        <p>1</p>
      </div>
      <div class="item" style="background-color: #d55401;">
        <p>2</p>
      </div>
      <div class="item" style="background-color: #c1392b;" id="alignSelf">
        <p style="font-size:50px;">3</p>
      </div>
      <div class="item" style="background-color: #bec3c7;">
        <p>4</p>
      </div>
      <div class="item" style="background-color: #808b8d;">
        <p>5</p>
      </div>
    </div>


    <!-- FLEX-GROW -->
    <div class="control">
      <h4><a target="_blank" href="http://w3.unpocodetodo.info/css3/flex-abreviado.php#flexGrow">flex-grow: (default "0")</a></h4>
      <p class="description">SI HAY ESPACIO SOBRANTE Indica lo que puede crecer un elemento para ocuparlo.</p>
  <p class="description">El número indica la proporción en la que se lo reparten.-> NO QUE VAYA A SER EL DOBLE QUE EL OTRO, SINO QUE VA A RECIBIR EL DOBLE DEL ESPACIO VACÍO</p>
    <p class="description">Por defecto, no crecen (0)</p>
      <div class="radio">
        <span class="nbsp"><label for="R71">elemento 1: </label><input type="number"  class="flex-grow" id="R71" min="0" ></span>
        <span class="nbsp"><label for="R72">elemento 2: </label><input type="number"  class="flex-grow" id="R72" min="0" ></span>
        <span class="nbsp"><label for="R73">elemento 3: </label><input type="number"  class="flex-grow" id="R73" min="0" ></span>
        <span class="nbsp"><label for="R74">elemento 4: </label><input type="number"  class="flex-grow" id="R74" min="0" ></span>
        <span class="nbsp"><label for="R75">elemento 5: </label><input type="number"  class="flex-grow" id="R75" min="0" ></span>
      </div>
    </div>
    <div class="flex-container align-items-center" id="FCI2">

      <div class="item" id="itemR71" style="background-color: #f49c14;">
        <p>1</p>
      </div>
      <div class="item" id="itemR72" style="background-color: #d55401;">
        <p>2</p>
      </div>
      <div class="item" id="itemR73" style="background-color: #c1392b;">
        <p>3</p>
      </div>
      <div class="item" id="itemR74" style="background-color: #bec3c7;">
        <p>4</p>
      </div>
      <div class="item" id="itemR75" style="background-color: #808b8d;">
        <p>5</p>
      </div>
    </div>

    <!-- FLEX-SHRINK -->
    <div class="control">
      <h4><a target="_blank" href="http://w3.unpocodetodo.info/css3/flex-abreviado.php#flexShrink">flex-shrink: (DEFAULT "1")</a></h4>
      <p class="description">SI HAY DESBORDAMIENTO establece mi capacidad de "encoger". Por defecto, encogen (1).</p>
      <div class="radio">
        <span class="nbsp"><label for="R81">elemento 1: </label><input type="number"  class="flex-shrink" id="R81" min="0" ></span>
        <span class="nbsp"><label for="R82">elemento 2: </label><input type="number"  class="flex-shrink" id="R82" min="0" ></span>
        <span class="nbsp"><label for="R83">elemento 3: </label><input type="number"  class="flex-shrink" id="R83" min="0" ></span>
        <span class="nbsp"><label for="R84">elemento 4: </label><input type="number"  class="flex-shrink" id="R84" min="0" ></span>
        <span class="nbsp"><label for="R85">elemento 5: </label><input type="number"  class="flex-shrink" id="R85" min="0" ></span>
      </div>

    </div>
    <div class="flex-container align-items-center" id="FCI3">
      <div class="item" id="itemR81" style="background-color: #f49c14;">
        <p>1</p>
      </div>
      <div class="item" id="itemR82" style="background-color: #d55401;">
        <p>2</p>
      </div>
      <div class="item" id="itemR83" style="background-color: #c1392b;">
        <p>3</p>
      </div>
      <div class="item" id="itemR84" style="background-color: #bec3c7;">
        <p>4</p>
      </div>
      <div class="item" id="itemR85" style="background-color: #808b8d;">
        <p>5</p>
      </div>
    </div>


    <!-- FLEX: SHORTHAND -->
    <div class="control">
      <h4><a target="_blank" href="http://w3.unpocodetodo.info/css3/flex-basis.php">flex-basis: (DEFAULT "AUTO")</a></h4>
      <p>Tiene poco sentido sin flex-shrink y flex-grow, sobreescribiría el valor width si lo hubiera. </p>
  </div>

    <!-- FLEX: SHORTHAND -->
    <div class="control">
      <h4><a target="_blank" href="http://w3.unpocodetodo.info/css3/flex-abreviado.php">flex: SHORTHAND (DEFAULT "0 1 AUTO")</a></h4>
      <p>.item {{ '{'  }} flex: flex-grow [flex-shrink] [flex-basis]; {{ '}' }} </p>
      <table id="flexBasis">
        <tr>
          <td>elemento 1</td>
          <td>elemento 2</td>
        </tr>
        <tr>
          <td><input type="number" class="flex-basis" id="B1" min="0" value="200"><label for="B1">flex-basis px</label></td>
          <td><input type="number" class="flex-basis" id="B2" min="0" value="200"><label for="B2">flex-basis px</label></td>
        </tr>
        <tr>
          <td><input type="number" class="flex-basis-grow" id="G1" min="0" value="0"><label for="G1">flex-grow</label></td>
          <td><input type="number" class="flex-basis-grow" id="G2" min="0" value="0"><label for="G2">flex-grow</label></td>
        </tr>
        <tr>
          <td><input type="number" class="flex-basis-shrink" id="S1" min="0" value="0"><label for="S1">flex-shrink</label></td>
          <td><input type="number" class="flex-basis-shrink" id="S2" min="0" value="0"><label for="S2">flex-shrink</label></td>
        </tr>
      </table>
    </div>
    <div class="flex-container align-items-center" id="FCI4">
      <div class="item" id="item1" style="background-color: #f49c14;">
        <p>1</p>
      </div>
      <div class="item" id="item2" style="background-color: #d55401;">
        <p>2</p>
      </div>

    </div>


   <!-- ORDER -->
    <div class="control">
      <h4><a target="_blank" href="http://w3.unpocodetodo.info/css3/flex-order.php">order: (DEFAULT "0")</a></h4>
    <p>Cambia el orden de colocación que correspondería según su orden en el HTML.</p>
    <p>(Regla mnemotécnica -> pensad en como funciona z-index) Valores positivos y negativos. Positivos colocan AL FINAL DE LA PILA, negativos AL PRINCIPIO.</p>
      <div class="radio">
        <span class="nbsp"><label for="R91">elemento 1: </label><input type="number"  class="flex-order" id="R91"></span>
        <span class="nbsp"><label for="R92">elemento 2: </label><input type="number"  class="flex-order" id="R92"></span>
        <span class="nbsp"><label for="R93">elemento 3: </label><input type="number"  class="flex-order" id="R93"></span>
        <span class="nbsp"><label for="R94">elemento 4: </label><input type="number"  class="flex-order" id="R94"></span>
        <span class="nbsp"><label for="R95">elemento 5: </label><input type="number"  class="flex-order" id="R95"></span>
      </div>

    </div>
    <div class="flex-container align-items-center" id="FCI5">


      <div class="item" id="orderR91" style="background-color: #f49c14;">
        <p>1</p>
      </div>
      <div class="item" id="orderR92" style="background-color: #d55401;">
        <p>2</p>
      </div>
      <div class="item" id="orderR93" style="background-color: #c1392b;">
        <p>3</p>
      </div>
      <div class="item" id="orderR94" style="background-color: #bec3c7;">
        <p>4</p>
      </div>
      <div class="item" id="orderR95" style="background-color: #808b8d;">
        <p>5</p>
      </div>

    </div>


  </div>
